<% provide(:title, "Category") %>
<h1>Category</h1> 
<p>
      Get category on the Ruby on Rails Tutorial at the 
      <a href="http://www.railstutorial.org/help">Rails Tutorial category 
      page</a>.

To get category on this course app, see the
<a href="http://www.railstutorial.org/book"><em>Ruby on Rails 
Tutorial</em> book</a>.
</p> 
>