<div class="center jumbotron">
<h1>Welcome to Your Course App</h1> 

<h2>
    This is the home page for the RAD Assignment 2
</h2>


  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> 
 </div>


<h3></h3>
<ul class="list-inline">
<li>
    <dl>
    <dt>View Course as Guest User</dt>
    <dd>Browse and view courses as a guest and </dd>
    <dd>sign up later</dd>
    </dl>
    <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-book"></span> Browse all courses</button>
    </li>
     
 <li>
     <dl>
     <dt>Sign in to your account</dt> 
     <dd>Update your courses, rate courses, view </dd>
     <dd>coordinator informations</dd>
     </dl>
     <button type="button" class="btn btn-success">
         <span class="glyphicon glyphicon-user"></span> Log in to your account</button>
     </li>
    
 </ul>
 
 