<% provide(:title, "Locations") %>
<h1>Locations</h1>
<p>
      Get locations on the Ruby on Rails Tutorial at the 
      <a href="http://www.railstutorial.org/help">Rails Tutorial locations 
      page</a>.

To get locations on this course app, see the
<a href="http://www.railstutorial.org/book"><em>Ruby on Rails 
Tutorial</em> book</a>.
</p> 
