<footer class="footer">
   <ul class="list-inline">
<li>
     <dl>
     <dt> Contact us</dt> 
      <dd><div class="input-group">
      <input type="text" class="form-control" placeholder="Name">
      </div></dd>
      
      <dd><div class="input-group">
         <input type="text" class="form-control" placeholder="Email">
            </div></dd>
            
            <dd><div class="input-group">
            <input type="text" class="form-control" placeholder="Message">
            </div></dd>
            

   </dl>
</li>

     
     

      <li>
     <dl>
     <dt>Gerneral inquires</dt> 
     <dd>Andy Song </dd>
     <dd>Ervin</dd>
     <dd>all</dd>
     
     </dl>
     
    <li>
    <dl>
    <dt>Useful Links</dt>
    <dd>RMIT Course </dd>
    <dd>RMIT Help Desk</dd>
    <dd>RMIT International</dd>
    </dl>
    
     
 <li>
     <dl>
     <dt>Media</dt> 
     <dd>Youtube </dd>
     <dd>Twitter</dd>
     <dd>Facebook</dd>
     
     </dl>
    
    
 </ul>

   </footer>